@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #3d4a3e;
  --foreground: #ece2d0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
